<!DOCTYPE html>
<html>
  <head>
    <title>About <%=forumName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About <%=forumName%></h1>
    <p>TODO: INSERT CONTENT HERE</p>
 
  </body>
</html>