<!DOCTYPE html>
<html>
  <head>
    <title>Contribute your thoughts to the <%=forumName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Post to <%=forumName%></h1>
    <p>TODO: INSERT CONTENT HERE</p>
  </body>
</html>