<!DOCTYPE html>
<html>
  <head>
    <title>Contribute your thoughts</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Post your thoughts...</h1>
    <!--
      Uses a form to add post to the database. The form then links to
      the SQL query in main.js.
    -->
    <form method="POST" action="/postadded">
      <p>
        Username: <input id="name" type="text" name="username" placeholder="Username" />
      </p>
      <p>
        Topic: <input id="topic" type="text" name="topic" placeholder="Topic" />
      </p>
      <p>
        Post Title: <input id="title" type="text" name="title" placeholder="Title" /> 
      </p>
      <p>
        Post Content: <input id="post" type="text" name="content" placeholder="Content" /> 
      </p>
      <input type="submit" value="Add Post" />
    </form>    
  </body>
</html>