<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to <%=forumName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to <%=forumName%></h1>
    <p><a href="about">About <%=forumName%></a></p>
    <p><a href="topics">View topics</a></p>
    <p><a href="users">View users</a></p>
    <p><a href="posts">View posts</a></p>
  </body>
</html>
