<!DOCTYPE html>
<html>
  <head>
    <title>List Posts</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <% posts.forEach(function(post) { %>
        <h2><%= post.title %></h2>
        <p><%= post.topicname %></p>
        <p><%= post.content %></p>
        <p><%= post.username %></p>
    <% }); %>
  </body>
</html>