<!DOCTYPE html>
<html>
  <head>
    <title>List Posts</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <% posts.forEach(function(post) { %>
      <div class="post">
        <h2 class="subpost"><%= post.title %></h2>
        <p class="subpost"><%= post.topicname %></p>
        <p class="subpost"><%= post.content %></p>
        <p class="subpost"><%= post.username %></p>
      </div>
    <% }); %>
  </body>
</html>