<!DOCTYPE html>
<html>
  <head>
    <title>View all posts to the <%=forumName%> here</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=forumName%> Posts</h1>
    <p>TODO: INSERT CONTENT HERE</p>

  </body>
</html>