<!DOCTYPE html>
<html>
  <head>
    <title>Post search of the <%=forumName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Find a post on <%=forumName%> here</h1>
    <p>TODO: INSERT CONTENT HERE</p>

  </body>
</html>