<!DOCTYPE html>
<html>
  <head>
    <title>List Posts</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <% topics.forEach(function(topic) { %>
        <h2><%= topic.name %></h2>
    <% }); %>
  </body>
</html>