<!DOCTYPE html>
<html>
  <head>
    <title>The users of the <%=forumName%></title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>All <%=forumName%> users here</h1>
    <p>TODO: INSERT CONTENT HERE</p>
  </body>
</html>