<!DOCTYPE html>
<html>
  <head>
    <title>List Posts</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <% users.forEach(function(user) { %>
        <h2><%= user.username %></h2>
    <% }); %>
  </body>
</html>