/* Background*/
body {
  background-color: #9e9e9e;
  margin: 0;
}

/* TEXT STYLES*/

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #9e9e9e;
  background-color: #303030;
  padding: 20px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

p,
li {
  font-family: Arial, Helvetica, sans-serif;
}

a:link {
  color: #303030;
  text-decoration: none;
  padding: 5px;
}

/* mouse over link */
a:hover {
  color: #406153;
  text-decoration: none;
  background-color: #E06854;
  padding: 5px;
}

/* selected link */
a:active {
  color: blue;
  text-decoration: none;
  padding: 5px;
}

/*NAVIGATION BAR*/
.navbar {
  background-color: #FCA311;
  text-align: center;
  padding: 10px;
}

.navbar a {
  text-decoration: none;
  color: #14213D;
  font-size: 20px;

}

.navbar a:hover {
  color: #E5E5E5;
}

/* TABLES FOR POSTS*/
/* Div class for each post*/
.post {
  background-color: #170f44;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 60%;
}
/* Create border around each item*/
.subpost {
  border-radius: 10px;
  border: 1px solid #645b08;
  padding: 5px;
  color: #170f44;
  background-color: #645b08;
  text-align: center;
}

